# 1. Credenciales de SUPABASE
# Las obtienes en: Configuración de tu Proyecto -> API
SUPABASE_URL=aqui_va_tu_url_de_supabase
SUPABASE_ANON_KEY=aqui_va_tu_llave_anon_publica

# 2. Credenciales de META (WhatsApp)
# Inventa una contraseña (token) aquí. Luego tendrás que pegarla exactamente igual en la configuración de Meta.
META_VERIFY_TOKEN=nara_360_prueba_segura_123

PORT=3000
